<ion-content padding="true">
    <app-navbar [user]="user" [search]="true" (searchValue)="filterUserSearch($event)"></app-navbar>
    <div class="user-management-field">
        <div class="row">
            <div class="col-4 user-list-field">
                <div class="user-list-header">
                    User Management
                </div>
                <div class="user-field" *ngFor="let user of user_list; let idx=index; let even=even;"
                        [style.background-color]="rowClicked == idx ? 'rgba(255,103,103,0.34)': (even? '#FCFAFA': 'white')"
                        (click)="changeTableRowColor(idx)">
                    <div class="name-card-0" (click)="showSpecificUser(user)">
                        {{user.firstName[0]}}{{user.lastName[0]}}
                    </div>
                    <div class="name-card-1" (click)="showSpecificUser(user)">
                        <div style="font-size: 150%; padding-top: 5%">{{user.firstName}} {{user.lastName}}</div>
                        <div>{{user.email}}</div>
                    </div>
                    <button class="rubbish-bin" style="position: relative; background: transparent" (click)="delete(user.uid)">
                        <ion-icon name='trash' color="danger" size="large" is-active="true"></ion-icon>
                    </button>
                </div>
            </div>
            <div class="col-7 user-detail-field">
                <div class="row">
                    <div class="col-10">
                        <div *ngIf="userInfo" class="alert {{alert}}" style="width: 100%;">
                            <a (click)="close()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{message}}
                        </div>
                        <form [formGroup]="userForm" style="width: 140%">
                            <div class="row" style="margin-top: 150px">
                                <div class="col-2" style="font-size: 110%;">
                                    FirstName
                                </div>
                                <div class="col-6">
                                    <div class="input-container uname-field " ngDefaultControl>
                                        <ion-input #firstName class="form-control" type="text" placeholder=" firstname"
                                                   formControlName="firstName" ngDefaultControl>
                                        </ion-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 30px">
                                <div class="col-2" style="font-size: 110%;">
                                    LastName
                                </div>
                                <div class="col-6">
                                    <div class="input-container uname-field ">
                                        <ion-input #lastName class="form-control" type="text" placeholder=" lastname"
                                                   formControlName="lastName" ngDefaultControl>
                                        </ion-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 30px">
                                <div class="col-2" style="font-size: 110%;">
                                    Email
                                </div>
                                <div class="col-6">
                                    <div class="input-container uname-field " ngDefaultControl>
                                        <ion-input #email class="form-control" type="text" placeholder=" email"
                                                   formControlName="email" ngDefaultControl>
                                        </ion-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 30px">
                                <div class="col-2" style="font-size: 110%;">
                                    Role
                                </div>
                                <div class="col-6">
                                    <div class="input-container uname-field " ngDefaultControl>
                                        <ion-select #role class="form-control" type="text"
                                                    formControlName="role" ngDefaultControl>
                                            <ion-select-option *ngFor="let item of allRole" [value]="item.toLowerCase()" [selected]="userForm.value.role.toLowerCase() === item.toLowerCase()">
                                                {{item}}
                                            </ion-select-option>
                                        </ion-select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-2" style="margin-top:10%;vertical-align: middle">
                        <div class="edit-button">
                            <ion-icon src="../../../assets/icon/pencil0.svg" (click)="edit()" *ngIf="!enableEdit"></ion-icon>
                            <ion-icon src="../../../assets/icon/pencil.svg" (click)="edit()" *ngIf="enableEdit"></ion-icon>
                        </div>
                        <div class="display-field">
                            <div class="display-circle">
                                <div class="display-text1" [(ngModel)]="suggested" name="suggested" ngDefaultControl>
                                    {{this.suggested}}
                                </div>
                                <div class="display-text2">
                                    suggested
                                </div>
                            </div>
                            <div class="display-circle">
                                <div class="display-text1" [(ngModel)]="favorites" name="favorites" ngDefaultControl>
                                    {{this.favorites}}
                                </div>
                                <div class="display-text2">
                                    favorites
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row edit-user-field">
                    <div class="col" style="text-align: center">
                        <div class="align-content-center">
                            <button (click)="cancel()" type="button" class="btn btn-primary cancel-button"
                                    style="color: black;">Cancel
                            </button>
                        </div>
                    </div>
                    <div class="col" style="text-align: center">
                        <div class="align-content-center">
                            <button (click)="save()" type="button" class="btn btn-primary save-button"
                                    style="color: black;">Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>