.user-management-field {
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-list-header {
  font-size: 280%;
  color: #FF6767;
  font-family: 'Gill Sans';
  margin-top: 10px;
}

.user-list-field {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 1%;
  border: lightgray 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.user-field {
  margin-right: 0;
  margin-left: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex; justify-content: space-evenly;
}

.name-card-0 {
  position: relative;
  display: inline-block;
  height: 80px;
  text-align: center;
  font-size: 280%;
  color: #FF6767;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1%;
  width: 80px;
  margin-top: 0;
  border-radius: 50%;
  border: lightgray solid 1px;
  background-color: white;
  z-index: 10;
}

.name-card-1 {
  position: relative;
  display: inline-block;
  text-align: left;
  padding-left: 0;
  width: 55%;
  z-index: 10;
}

.user-detail-field {
  margin-left: 3%;
  margin-right: 0;
}

.user-detail-field-1 {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.uname-field ion-input {
  border-radius: 10px;
  display: inline-flex;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.uname-field ion-select {
  border-radius: 10px;
  display: inline-flex;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.edit-user-field{
  margin-top: 10%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.cancel-button{
  float: left;
  border-radius: 10px;
  width: 95%;
  height: 48px;
  background-color: #ffffff;
  border-width: medium;
  border-color: #FF6767;
}

.save-button{
  float: left;
  border-radius: 10px;
  width: 95%;
  height: 48px;
  background-color: #ffffff;
  border-width: medium;
  border-color: #008000;
}

.edit-button{
  position: relative;
  min-width: 120%;
  --border-radius: 50px;
  --background-color: #ffffff;
  --border-width: medium;
  padding-right: 0;
  font-size:500%;
}

.display-field{
  position: relative;
  margin-top: -45%;
 .display-circle {
    margin-top: 50%;
    margin-bottom: 20%;
    position: relative;
    width: 80%;
    height: 80%;
    border: lightgray solid 1px;
    border-radius: 50%;
    box-shadow: 0 -2px 20px 0 orangered, 0 6px 20px 0 orangered;
    .display-text1 {
      font-family: Mishafi;
      text-align: center;
      font-size: 300%;
      margin-bottom: -22%;
    }

    .display-text2 {
      font-family: Mishafi;
      text-align: center;
      margin-bottom: 5%;
    }
  }
}

