<ion-header *ngIf="user">
    <ion-toolbar color='light'>
        <ion-buttons slot="start">
            <button ion-button (click)="goBack($event)">
                <ion-icon *ngIf="back" name="arrow-back" size="large" color="danger"></ion-icon>
            </button>
        </ion-buttons>
        <ion-row>
            <ion-col class="col-4">
                <ion-title color="danger">{{ title }}</ion-title>
            </ion-col>

            <ion-col class="col-6" *ngIf="search">
                <ion-searchbar mode="ios" show-cancel-button cancel-button-text=""
                               placeholder="Search by name, category" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
            </ion-col>
        </ion-row>
        <ion-buttons slot="end">
            <button ion-button id="popup" (click)="showUserPopup($event)">
                <ion-icon name="contact" color="danger" size="large"></ion-icon>
                <ion-icon name="arrow-dropdown" color="medium"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>