<ion-list *ngIf="type === 'signout' && user">
    <ion-list-header>{{ user.displayName }} ({{ user.email }})</ion-list-header>
    <ion-button fill="clear" (click)="signOut()" color="danger" expand="full">Sign Out
        <ion-icon name="log-out" color="danger"></ion-icon>
    </ion-button>
</ion-list>
<ion-row *ngIf="type === 'ingredients'" id="ingredientSection" padding>
    <ion-text color="main"><h3 color="danger">Ingredients <img class="img-fluid"
                                                               src="../../../assets/images/wheat.png"></h3>
    </ion-text>
    <form [formGroup]="ingredientsForm">
        <ion-row>
            <div class="input-container">
                <ion-text color="main">
                    <ion-label>Name <ion-text color="medium"><span class="smallfont"><i>(Example: Rice)</i></span></ion-text></ion-label>
                </ion-text>
                <ion-input #name class="form-control" type="text" placeholder="Enter Ingredient name"
                           formControlName="name" ngDefaultControl>
                </ion-input>
            </div>
        </ion-row>
        <ion-row>Measurements</ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-text color="main">
                    <ion-label>Value <ion-text color="medium"><span class="smallfont"><i>10</i></span></ion-text></ion-label>
                </ion-text>
                <ion-input #value class="form-control" type="number" placeholder="Value"
                           formControlName="value" ngDefaultControl>
                </ion-input>
            </ion-col>
            <ion-col col-6>
                <ion-text color="main">
                    <ion-label>Units <ion-text color="medium"><span class="smallfont"><i>cups</i></span></ion-text></ion-label>
                </ion-text>
                <ion-input #units class="form-control" type="text" placeholder="Units"
                           formControlName="units" ngDefaultControl>
                </ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button id="cancelIngredients" color="mainwarning" (click)="dismiss(null)">
                    <ion-text color="light">Cancel</ion-text>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button id="saveIngredients" color="main" (click)="dismiss(ingredientsForm)"
                            [disabled]="!ingredientsForm.valid">
                    <ion-text color="light">Save</ion-text>
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-row>
<ion-row *ngIf="type === 'directions'" id="directionSection" padding>
    <ion-text color="main"><h3 color="danger">Directions <img class="img-fluid"
                                                              src="../../../assets/images/stew.png"></h3>
    </ion-text>
    <form [formGroup]="directionsForm">
        <ion-row>
            <div class="input-container">
                <ion-text color="main">
                    <ion-label>Description <ion-text color="medium"><span class="smallfont"><i>(Example: 1. Add your broth to a pot)</i></span>
                    </ion-text></ion-label>
                </ion-text>
                <ion-input #value class="form-control" type="text" placeholder="Enter your description"
                           formControlName="value" ngDefaultControl>
                </ion-input>
            </div>

        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button id="cancelDirections" color="mainwarning" (click)="dismiss(null)">
                    <ion-text color="light">Cancel</ion-text>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button id="saveDirections" color="main" (click)="dismiss(directionsForm)"
                            [disabled]="!directionsForm.valid">
                    <ion-text color="light">Save</ion-text>
                </ion-button>
            </ion-col>
        </ion-row>
    </form>

</ion-row>