<ion-content padding>

  <ion-row>
    <ion-col col-6 >
      <ion-row >
        <img class="logo img-fluid" src="../../../assets/images/logo.png">
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-title text-center style="font-size: xx-large; color: #FF6767;margin-bottom: 35px; padding-top: 150px;">
          Admin Password Reset
        </ion-title>
      </ion-row>
      <ion-row>
        <div *ngIf="resp" class="alert {{alert}}" style="width: 100%;">
          <a (click)="close()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{message}}
        </div>
        <form [formGroup]="resetForm" style="width: 100%">
          <ion-row>
            <ion-col>
              <div class="input-container" style="height: 48px">
                <ion-input class=" form-control" type="text" formControlName="email" placeholder="Email Address" name="email" ngDefaultControl>
                </ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: center">
              <div class="align-content-center">
                <button (click)="cancel()" type="button" class="btn btn-primary button" style="float: left; background-color: black; border-color: black">Cancel</button>
              </div>
            </ion-col>
            <ion-col style="text-align: center">
              <div class="align-content-center">
                <button (click)="resetPassword()" type="button" class="btn btn-primary button" >Reset</button>
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-row>

    </ion-col>
  </ion-row>

  <ion-footer text-center padding>
    <ion-row>
      <ion-col col-6></ion-col>
      <ion-col col-6><a href=" ">Terms and Conditions of Use</a></ion-col>
    </ion-row>
  </ion-footer>
</ion-content>
