.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

//mat-tab.mat-ink-bar {
//  background-color: #FF6767;;
//}

::ng-deep .mat-ink-bar{
  background-color: #FF6767 !important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #FF6767 !important;
}

.filter{
  position: relative;
  top: -25rem;
  float: right;
  z-index: 1;
}

.btn-secondary {
  width: 5rem;
  font-size: small;
}

.filter-box {
  border-style: solid;
  border-color: #888888;
  border-width: 1px;
  box-shadow: 2px 3px #888888;
  padding: 1rem;
  width: 100%;
}

.row-padding{
  padding-bottom: 12px;
}

.addbutton {
  font-size: 30px;
  position: absolute;
  right: 120px;
  top: 20px
}

.tabbutton {
  position: absolute;
  //margin-left: calc(100% - 120px);
  z-index: 5;
  margin-left: calc(100% - 260px);
  width: max-content;
}
//
//rating{
//  ion-icon{
//    //icon: url("../../../assets/images/food.png");
//    src: url("../../../assets/images/food.png");
//  }
//}

//
//rating {
//  color: #0bb8cc;
//  ion-buttons{
//    ion-button{
//      ion-icon {
//        color: blue;
//
//        &.filled {
//          color: #ffb400;
//        }
//      }
//    }
//  }
//}

//::ng-deep sc-ion-buttons-md-h sc-ion-buttons-md-s hydrated ion-icon {
//  color: blue !important;
//
//  //&.filled {
//  //  color: #ffb400;
//  //}
//}


//::ng-deep .sc-ion-buttons-md-s ion-icon[slot=icon-only] {
//  color: blue !important;
//  src: url("../../../assets/images/food.png") !important;
//  &.filled {
//    color: #ffb400 !important;
//  }
//}

//::ng-deep rating ion-icon{
//  &[class*=".sc-ion-buttons-md-s"] {
//    scr: url("../../../assets/images/food.png");
//  }
//}

//::ng-deep rating ng-untouched ng-pristine ng-valid{
//  ion-icon {
//    color: #0bb8cc !important;
//  }
//}

::ng-deep .sc-ion-buttons-md-h sc-ion-buttons-md-s hydrated{
  ion-icon{
    src: url("../../../assets/shapes.svg") !important;
    color: #0bb8cc !important;
  }
}

::ng-deep .ng-star-inserted button button-default button-clear ion-activatable ion-focusable hydrated{
  ion-icon{
    src: url("../../../assets/shapes.svg") !important;
    color: #4c8dff !important;
  }
}


ion-icon.rating:hover{
  color:  #ff676785 !important;
}

ion-icon.rating{
  font-size: x-large;
  width: 20%
}
