<app-navbar [user]="user" [back]=true></app-navbar>
<ion-content padding>
    <ion-row class="tabrow">
        <ion-col>
            <div class="tabbutton" >
                <ion-row text-right>
                    <ion-col col-6>
                        <ion-button id="addnew"color="fapp" (click)="navigate('/addrecipes')">
                            <ion-label>Add New</ion-label>
                            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col col-6>
                        <ion-button id="filter" (click)='hideMe=!hideMe' color="fapp">
                            <ion-label>Filter</ion-label>
                            <ion-icon slot="icon-only" name="funnel"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>

            </div>
            <mat-tab-group style="z-index: 0">
                
                <mat-tab label="Recipe">
                    <div class="mat-elevation-z8">
                        <table id="recp" mat-table [dataSource]="recipeDataSource" #recipeSort="matSort" matSort style="width: 100%" >
                            <!-- Active Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterRecipeToggle() : null"
                                                  [checked]="selection.hasValue() && isAllRecipesSelected()"
                                                  [indeterminate]="selection.hasValue() && !isAllRecipesSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                  (change)="$event ? selection.toggle(row) : null"
                                                  [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <!--Category Column -->
                            <ng-container matColumnDef="category">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                            </ng-container>

                            <!--No of Views Column -->
                            <ng-container matColumnDef="noOfViews">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No Of Views </th>
                                <td mat-cell *matCellDef="let element"> {{element.noOfViews}} </td>
                            </ng-container>

                            <!--Options Column -->
                            <ng-container matColumnDef="options" text-center>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Options </th>
                                <td mat-cell *matCellDef="let element">
                                    <button class="btn" (click)="viewRecipe(element)">
                                        <ion-icon  name="eye"></ion-icon>
                                    </button>

                                    <button class="btn" (click)="editRecipe(element)">
                                        <ion-icon  name="create"></ion-icon>
                                    </button>

                                    <button class="btn" (click)="deleteRecipe(element)">
                                        <ion-icon  name="trash"></ion-icon>
                                    </button>

                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </mat-tab>
                <mat-tab label="Suggested">
                    <div class="mat-elevation-z8">
                        <table id="sugg" mat-table [dataSource]="suggestedDataSource" #suggestedSort="matSort" matSort style="width: 100%" >
                            <!-- Active Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterSuggestedToggle() : null"
                                                  [checked]="selectionSuggested.hasValue() && isAllSuggestedSelected()"
                                                  [indeterminate]="selectionSuggested.hasValue() && !isAllSuggestedSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                  (change)="$event ? selectionSuggested.toggle(row) : null"
                                                  [checked]="selectionSuggested.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <!--Category Column -->
                            <ng-container matColumnDef="category">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                            </ng-container>

                            <!--No of Views Column -->
                            <ng-container matColumnDef="noOfViews">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No Of Views </th>
                                <td mat-cell *matCellDef="let element"> {{element.noOfViews}} </td>
                            </ng-container>


                            <!--Options Column -->
                            <ng-container matColumnDef="options" text-center>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Options </th>
                                <td mat-cell *matCellDef="let element">
                                    <button class="btn">
                                        <ion-icon  name="eye"></ion-icon>
                                    </button>

                                    <button class="btn">
                                        <ion-icon  name="create"></ion-icon>
                                    </button>

                                    <button class="btn">
                                        <ion-icon  name="trash"></ion-icon>
                                    </button>

                                </td>
                            </ng-container>


                            <!-- Status Column -->
                            <!--<ng-container matColumnDef="action">-->
                            <!--<mat-header-cell *matHeaderCellDef></mat-header-cell>-->
                            <!--<mat-cell *matCellDef="let element">-->
                            <!--<button type="button" (click)="changestatus(element)" class="btn btn-dark"-->
                            <!--[disabled]="failed" *ngIf="element.active" style="background-color:red;width:76px" >Disable-->
                            <!--</button>-->
                            <!--<button type="button" (click)="changestatus(element)" class="btn btn-dark"-->
                            <!--[disabled]="failed" *ngIf="!element.active" style="background-color:green; width:76px">Enable-->
                            <!--</button>-->

                            <!--</mat-cell>-->
                            <!--</ng-container>-->


                            <tr mat-header-row *matHeaderRowDef="suggestedDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: suggestedDisplayedColumns;"></tr>
                        </table>

                        <mat-paginator #suggestedPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </mat-tab>

            </mat-tab-group>

        </ion-col>
        <ion-col style="display: contents">
            <div *ngIf=hideMe>
                <ion-row class="row-padding" style="padding-top: 0px">
                    <!--<div *ngIf=hideMe>-->
                        <ion-col>
                            <label class="my-1 mr-2" for="Category" style="color: #f04141;" >Filters</label>
                        </ion-col>
                        <ion-col>
                            <a (click)="clear()" style="color: #f04141; float: right;">Clear</a>
                        </ion-col>
                    <!--</div>-->
                </ion-row>
                <ion-row class="row-padding">
                    <div *ngIf=hideMe class="filter-box">
                        <div>
                            <label class="my-1 mr-2" for="Category"  style="color: #f04141;">Category</label>
                            <select [(ngModel)]="selectedCategory" class="custom-select my-1 mr-sm-2" id="Category" ngDefaultControl>
                                <option value="" selected>Choose...</option>
                                <option *ngFor="let opt of categories;" value="{{opt}}">{{opt}}</option>
                            </select>
                        </div>
                        <div>
                            <label class="my-1 mr-2" for="Country"  style="color: #f04141;">Country</label>
                            <select [(ngModel)]="selectedCountry" class="custom-select my-1 mr-sm-2" id="Country" ngDefaultControl>
                                <option value="" selected>Choose...</option>
                                <option *ngFor="let opt of countries;" value="{{opt}}">{{opt}}</option>
                            </select>
                        </div>
                    </div>
                </ion-row>
                <ion-row class="row-padding">
                    <div *ngIf=hideMe class="filter-box">
                        <!--<div class="filter" *ngIf=hideMe>-->
                        <ion-label  style="padding-bottom: 15px;color: #f04141;">Difficulty</ion-label>
                        <ion-segment color="danger" [(ngModel)]="difficulty" (ionChange)="segmentChanged($event)" ngDefaultControl>
                            <ion-segment-button size="small" value="Easy">
                                <ion-label>Easy</ion-label>
                            </ion-segment-button>
                            <ion-segment-button size="small" value="Medium">
                                <ion-label>Medium</ion-label>
                            </ion-segment-button>
                            <ion-segment-button size="small" value="Hard">
                                <ion-label>Hard</ion-label>
                            </ion-segment-button>
                        </ion-segment>

                        <ion-label style="padding-bottom: 15px; color: #f04141;">Spicy</ion-label>
                        <div style="padding-top: 15px">
                            <ion-icon class="rating" [style.color]="newrating >= 1 ? 'red' : 'black' " name="flame"  (mouseover)="rating(1)" (mouseout)="rating(0)"> </ion-icon>
                            <ion-icon class="rating" [style.color]="newrating >= 2 ? 'red' : 'black' "  name="flame" (mouseover)="rating(2)" (mouseout)="rating(1)"> </ion-icon>
                            <ion-icon class="rating" [style.color]="newrating >= 3 ? 'red' : 'black' "  name="flame" (mouseover)="rating(3)" (mouseout)="rating(2)"> </ion-icon>
                            <ion-icon class="rating" [style.color]="newrating >= 4 ? 'red' : 'black' "  name="flame" (mouseover)="rating(4)" (mouseout)="rating(3)"> </ion-icon>
                            <ion-icon class="rating" [style.color]="newrating >= 5 ? 'red' : 'black' "  name="flame" (mouseover)="rating(5)"> </ion-icon>
                        </div>

                    </div>
                </ion-row>
                <ion-row class="row-padding">
                    <div *ngIf=hideMe class="filter-box">

                        <div style="width: inherit">
                            <ion-list>
                                <ion-label  style="color: #f04141;">Cooking Time</ion-label>
                                <ion-item lines="none">
                                    <ion-range color="danger" dualKnobs="true" pin="true" min="{{time.lower}}" max="{{time.upper}}" step="3" snaps="true" [(ngModel)]="newtime" ngDefaultControl></ion-range>
                                </ion-item>
                            </ion-list>
                            <ion-list>
                                <ion-label  style="color: #f04141;">Preparation Time</ion-label>
                                <ion-item lines="none">
                                    <ion-range color="danger" dualKnobs="true" pin="true" min="{{preptime.lower}}" max="{{preptime.upper}}" step="3" snaps="true" [(ngModel)]="newpreptime" ngDefaultControl></ion-range>
                                </ion-item>
                            </ion-list>
                        </div>

                    </div>
                </ion-row>
                <ion-row class="row-padding">
                    <ion-col>
                        <ion-button color="dark" style="width: 100%;" (click)="filter()">APPLY</ion-button>
                    </ion-col>
                </ion-row>
            </div>
        </ion-col>
    </ion-row>



</ion-content>
