
.files {
  position: relative;
  text-align: center;
  outline: 2px dashed rgba(239, 66, 66, 0.33);
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  border: 1px solid rgba(239, 66, 66, 0.33);
}
.files p{
  color: rgba(239, 66, 66, 0.8);
}

.files:after {
  pointer-events: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(../../../assets/images/camera.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.color ion-input {
  background-color: #f04141;
}

.form-control-file {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 130px;
  outline: none;
  visibility: hidden;
  cursor: pointer;
  background-color: #f04141;
  box-shadow: 0 0 5px solid currentColor;
  color: #f04141;
  &:before {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    min-height: 130px;
    line-height: 2em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    font-weight: 600;
    padding-top: 1.5em;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    content: attr(data-title);
    overflow: hidden;
  }
}

.cardSection {
  min-height: 200px;
  border: 1px solid rgba(239, 66, 66, 0.33);
}

ion-slides {
  --bullet-background-active: #f04141;
  --bullet-background: #f04141;
}

ion-slide img{
  max-height: 200px;
}