<app-navbar [user]="user" [back]=true></app-navbar>

<ion-content padding #pageTop>
    <ion-row *ngIf="error">
        <ion-col col-12>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error_message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error = false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="view_type === 'view'" id="imageSection">
        <ion-col col-12>
            <ion-slides color="danger" pager="true"  scrollbar="true" [options]="slideOpts">
                <ion-slide  *ngFor="let file of files;">
                    <img src="{{file}}" class="img-fluid">
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>
    <fieldset id="addFormFieldSet" [disabled]="view_type === 'view'">
        <ion-row *ngIf="view_type !== 'view'" id="fileSection">
            <ion-col col-12>
                <div class="files">
                    <div class="form-group inputDnD">
                        <label class="sr-only" for="inputFile">File Upload</label>
                        <input type="file" class="form-control-file text-danger font-weight-bold" id="inputFile"
                               accept="image/*" (change)="setFiles($event)" multiple/>
                        <p>{{drag_description}}</p>
                        <p><b>or</b></p>
                        <button type="button" class="btn btn-danger"
                                onclick="document.getElementById('inputFile').click()"
                                color="danger">Browse Image
                        </button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <form [formGroup]="addForm" style="width: 100%">
            <ion-row>
                <ion-col col-6>
                    <div class="input-container" style="height: 48px">
                        <ion-label>Recipe Title</ion-label>
                        <ion-input #name class="form-control" formControlName="name" type="text"
                                   placeholder="Recipe Title"
                                   name="name" ngDefaultControl>
                        </ion-input>
                    </div>
                </ion-col>
                <ion-col col-6>
                    <ion-label>Preparation</ion-label>
                    <ion-row>
                        <ion-col col-6>
                            <ion-input #preparationValue class="form-control" formControlName="preparationValue"
                                       type="number"
                                       placeholder="Value"
                                       name="preparationValue" ngDefaultControl>
                            </ion-input>
                        </ion-col>
                        <ion-col col-6>
                            <ion-select #preparationUnit class="form-control" type="text"
                                        formControlName="preparationUnit" ngDefaultControl>
                                <ion-select-option [value]="unit" *ngFor="let unit of units">
                                    {{unit}}
                                </ion-select-option>
                            </ion-select>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <div class="input-container" style="height: 48px">
                        <ion-label>Country</ion-label>
                        <ion-input class="form-control" formControlName="country" type="text"
                                   placeholder="Recipe Country"
                                   name="country" ngDefaultControl>
                        </ion-input>
                    </div>
                </ion-col>
                <ion-col col-6>
                    <ion-label>Cooking</ion-label>
                    <ion-row>
                        <ion-col col-6>
                            <ion-input class="form-control" formControlName="cookingValue" type="number"
                                       placeholder="Value"
                                       name="cookingValue" ngDefaultControl>
                            </ion-input>
                        </ion-col>
                        <ion-col col-6>
                            <ion-select #cookingUnit class="form-control" type="text"
                                        formControlName="cookingUnit" ngDefaultControl>
                                <ion-select-option [value]="unit" *ngFor="let unit of units">
                                    {{unit}}
                                </ion-select-option>
                            </ion-select>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Description</ion-label>
                    <ion-textarea rows="6" #description class="form-control" name="description"
                                  formControlName="description" placeholder="Enter any description here..."
                                  ngDefaultControl style="height: 100px"></ion-textarea>
                </ion-col>
                <ion-col>
                    <ion-label>Difficulty</ion-label>
                    <ion-segment formControlName="difficulty" ngDefaultControl color="danger">
                        <ion-segment-button size="small"
                                            value="easy">
                            <ion-label>Easy</ion-label>
                        </ion-segment-button>
                        <ion-segment-button size="small" value="medium">
                            <ion-label>Medium</ion-label>
                        </ion-segment-button>
                        <ion-segment-button size="small" value="hard">
                            <ion-label>Hard</ion-label>
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Category</ion-label>
                    <ion-select #category class="form-control" type="text"
                                formControlName="category" ngDefaultControl>
                        <ion-select-option [value]="category" *ngFor="let category of categories">
                            {{category}}
                        </ion-select-option>
                    </ion-select>
                </ion-col>
                <ion-col>
                    <div class="input-container" style="height: 48px">
                        <ion-label style="padding-bottom: 15px;">Spicy</ion-label>
                        <div style="padding-top: 15px">
                            <button ion-button icon-only #spice (mouseover)="spiceLevel(1)" (mouseout)="spiceLevel(0)">
                                <ion-icon name="flame" [style.color]="addForm.value.spicy >= 1 ? 'red' : 'black'"
                                          size="large"></ion-icon>
                            </button>
                            <button ion-button icon-only #spice (mouseover)="spiceLevel(2)" (mouseout)="spiceLevel(1)">
                                <ion-icon name="flame" [style.color]="addForm.value.spicy >= 2 ? 'red' : 'black'"
                                          size="large"></ion-icon>
                            </button>
                            <button ion-button icon-only #spice (mouseover)="spiceLevel(3)" (mouseout)="spiceLevel(2)">
                                <ion-icon name="flame" [style.color]="addForm.value.spicy >= 3 ? 'red' : 'black'"
                                          size="large"></ion-icon>
                            </button>
                            <button ion-button icon-only #spice (mouseover)="spiceLevel(4)" (mouseout)="spiceLevel(3)">
                                <ion-icon name="flame" [style.color]="addForm.value.spicy >= 4 ? 'red' : 'black'"
                                          size="large"></ion-icon>
                            </button>
                            <button ion-button icon-only #spice (mouseover)="spiceLevel(5)">
                                <ion-icon name="flame" [style.color]="addForm.value.spicy >= 5 ? 'red' : 'black'"
                                          size="large"></ion-icon>
                            </button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>

        </form>
        <ion-row>
            <ion-col col-8 text-left>
                Ingredients
            </ion-col>
            <ion-col col-4 text-right *ngIf="view_type !== 'view'">
                <ion-icon name="add-circle" (click)="showPop($event, 'ingredients')" size="large"
                          fill="outline"></ion-icon>
            </ion-col>
        </ion-row>
        <div class="cardSection" id="ingredientsCard">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let ingredient of ingredients;let i = index">
                    <ion-card>
                        <ion-card-header>
                            <ion-row>
                                <ion-col col-10>
                                    <ion-card-subtitle>{{ingredient.measurements.value}}
                                        {{ingredient.measurements.units}}
                                    </ion-card-subtitle>
                                </ion-col>
                                <ion-col col-2 text-right *ngIf="view_type !== 'view'">
                                    <ion-icon id="editIngredients" name="create" color="dark"
                                              (click)="edit(i, $event, 'ingredients', ingredient)"
                                              size="large"></ion-icon>
                                    <ion-icon id="duplicateIngredients" name="copy" color="primary"
                                              (click)="duplicate('ingredients', ingredient)" size="large"></ion-icon>
                                    <ion-icon id="deleteIngredients" name="trash" color="danger"
                                              (click)="delete(i, 'ingredients')" size="large"></ion-icon>
                                </ion-col>
                            </ion-row>

                            <ion-card-title>{{ingredient.name}}</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </div>
            </div>
        </div>

        <ion-row>
            <ion-col col-8 text-left>
                Directions
            </ion-col>
            <ion-col col-4 text-right *ngIf="view_type !== 'view'">
                <ion-icon name="add-circle" (click)="showPop($event, 'directions')" size="large"
                          fill="outline"></ion-icon>
            </ion-col>
        </ion-row>
        <div class="cardSection" id="directionsCard">
            <div class="row">
                <!--Set 3 directions on a row-->
                <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let direction of directions;let i = index">
                    <ion-card>
                        <ion-card-header>
                            <ion-row>
                                <ion-col col-10>
                                    <ion-card-title>{{direction.value}}</ion-card-title>
                                </ion-col>
                                <ion-col col-2 text-right *ngIf="view_type !== 'view'">
                                    <ion-icon id="editDirections" name="create" color="dark"
                                              (click)="edit(i, $event, 'directions', direction)"
                                              size="large"></ion-icon>
                                    <ion-icon id="duplicateDirections" name="copy" color="primary"
                                              (click)="duplicate('directions', direction)" size="large"></ion-icon>
                                    <ion-icon id="deleteDirections" name="trash" color="danger"
                                              (click)="delete(i, 'directions')" size="large"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-card-header>
                    </ion-card>
                </div>
            </div>
        </div>
        <ion-row *ngIf="view_type !== 'view'">
            <ion-col col-6 text-right>
                <ion-button id="cancelForm" shape="round" fill="outline" color="danger" (click)="cancel()">Cancel
                </ion-button>
            </ion-col>
            <ion-col col-6 text-left>
                <ion-button id="saveForm" shape="round" fill="outline" color="success" (click)="saveRecipe()"
                            [disabled]="!addForm.valid || directions.length < 1 || ingredients.length < 1 || !files_available">
                    Save
                </ion-button>
            </ion-col>
        </ion-row>
    </fieldset>
</ion-content>
