// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Custom CSS Variables **/
:root {
  /** main **/
  --ion-color-main: #ff6767;
  --ion-color-main-rgb: 255,103,103;
  --ion-color-main-contrast: #000000;
  --ion-color-main-contrast-rgb: 0,0,0;
  --ion-color-main-shade: #e05b5b;
  --ion-color-main-tint: #ff7676;

  /** warning **/
  --ion-color-mainwarning: #efad5d;
  --ion-color-mainwarning-rgb: 239,173,93;
  --ion-color-mainwarning-contrast: #000000;
  --ion-color-mainwarning-contrast-rgb: 0,0,0;
  --ion-color-mainwarning-shade: #d29852;
  --ion-color-mainwarning-tint: #f1b56d;
}

.ion-color-main {
  --ion-color-base: var(--ion-color-main) !important;
  --ion-color-base-rgb: var(--ion-color-main-rgb) !important;
  --ion-color-contrast: var(--ion-color-main-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-main-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-main-shade) !important;
  --ion-color-tint: var(--ion-color-main-tint) !important;
}

.ion-color-mainwarning {
  --ion-color-base: var(--ion-color-mainwarning) !important;
  --ion-color-base-rgb: var(--ion-color-mainwarning-rgb) !important;
  --ion-color-contrast: var(--ion-color-mainwarning-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mainwarning-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mainwarning-shade) !important;
  --ion-color-tint: var(--ion-color-mainwarning-tint) !important;
}

.ion-color-fapp {
  --ion-color-base: var(--ion-color-fapp) !important;
  --ion-color-base-rgb: var(--ion-color-fapp-rgb) !important;
  --ion-color-contrast: var(--ion-color-fapp-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-fapp-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-fapp-shade) !important;
  --ion-color-tint: var(--ion-color-fapp-tint) !important;
}
