<ion-content padding="true">
    <ion-row>
        <ion-col col-6>
            <ion-row>
                <img class="logo img-fluid" src="../../../assets/images/logo.png"/>
            </ion-row>
        </ion-col>
        <ion-col col-6>
            <ion-row>
                <ion-title
                        text-center
                        style="font-size: xx-large; color: #FF6767;margin-bottom: 15px;"
                >
                    Admin Login Access
                </ion-title>
            </ion-row>

            <ion-row>
                <div *ngIf="userinfofailed" class="alert alert-danger" style="width: 100%;">
                    <a (click)="close()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{error_message}}
                </div>
                <form [formGroup]="userForm" style="width: 100%">
                    <ion-row style="margin-top: 10px">
                        <ion-col>
                            <div class="input-container uname-field " style="height: 48px" ngDefaultControl>
                                <ion-input #email class="form-control" type="text" placeholder=" Username"
                                           formControlName="email" ngDefaultControl>
                                    <ion-icon name="person" style="margin-left:2%;"></ion-icon>
                                </ion-input>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="input-container pwd-field " style="height: 48px">
                                <ion-input #password class="form-control" formControlName="password" type="password"
                                           placeholder=" Password" ngDefaultControl>
                                    <ion-icon name="lock" style="margin-left:2%;"></ion-icon>
                                </ion-input>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="login-field">
                        <ion-col>
                            <label class="remember"><input type="checkbox" name="RememberMe" value="yes"
                                                           formControlName="remember" ngDefaultControl> Remember
                                Me</label>
                        </ion-col>
                        <ion-col style="text-align: center">
                            <div class="align-content-center">
                                <button (click)="login()" type="button" class="btn btn-primary login-button loginBtn"
                                        style="font-weight: bold;color: white;" [disabled]="!userForm.valid">Login
                                </button>
                            </div>
                        </ion-col>
                        <br/>
                    </ion-row>
                </form>
            </ion-row>


            <br>
            <ion-row>
                <!--<ion-row>-->
                <img style="position: absolute;margin-top: 10px;" src="../../../assets/images/ForgotPasswordimage.png">
                <ion-col class="reg" style="color: #FF6767;" (click)="register()">
                    Register Now
                </ion-col>

                <ion-col class="reg" text-right (click)="resetPassword()" style="font-weight: 500">
                    Forgot Password?
                </ion-col>
            </ion-row>

            <!--<ion-row text-center class="social-media">-->
                <!--&lt;!&ndash;<ion-col>&ndash;&gt;-->
                <!--&lt;!&ndash;<a>&ndash;&gt;-->
                <!--&lt;!&ndash;<img&ndash;&gt;-->
                <!--&lt;!&ndash;src="../../../assets/images/instagram.png"&ndash;&gt;-->
                <!--&lt;!&ndash;alt="instagram"&ndash;&gt;-->
                <!--&lt;!&ndash;style="width:42px;height:42px;border:0;"&ndash;&gt;-->
                <!--&lt;!&ndash;/>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
                <!--<ion-col>-->
                    <!--<a (click)="facebookLogin()">-->
                        <!--<img-->
                                <!--src="../../../assets/images/facebook.png"-->
                                <!--alt="facebook"-->
                                <!--style="width:42px;height:42px;border:0;"-->
                        <!--/>-->
                    <!--</a>-->
                <!--</ion-col>-->
                <!--<ion-col>-->
                    <!--<a (click)="goolelogin()">-->
                        <!--<img-->
                                <!--src="../../../assets/images/google-plus.png"-->
                                <!--alt="googleplus"-->
                                <!--style="width:42px;height:42px;border:0;"-->
                        <!--/>-->
                    <!--</a>-->
                <!--</ion-col>-->
                <!--<ion-col>-->
                    <!--<a (click)="twitterlogin()">-->
                        <!--<img-->
                                <!--src="../../../assets/images/twitter.png"-->
                                <!--alt="twitter"-->
                                <!--style="width:42px;height:42px;border:0;"-->
                        <!--/>-->
                    <!--</a>-->
                <!--</ion-col>-->
            <!--</ion-row>-->
        </ion-col>
    </ion-row>

    <ion-footer text-center padding>
        <ion-row>
            <ion-col col-6></ion-col>
            <ion-col col-6><a id="terms" (click)="goToTerms()">Terms and Conditions of Use</a></ion-col>
        </ion-row>
    </ion-footer>
</ion-content>
