//.background {
//  background-image: url('../../assets/images/Background.png');
//}

ion-content {
  --background: url('../../../assets/images/Background.png') 60%;
  background-size: cover;
}

.uname-field ion-input, .pwd-field ion-input{
  border-radius: 23px;
  border: 1px solid grey;
  display: inline-flex;
}

.pwd-field{
  margin-left: 38px;
}

.login-field{
  margin-left: 38px;
  margin-bottom: 20px;
}

.login-button{
  float: right;
  border-radius: 30px;
  width: 62%;
  height: 48px;
  background-color: #FF6767;
  border-color: #FF6767;
}

.remember{
  //float: right;
  //border-radius: 30px;
  //width: 62%;
  height: 48px;
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
}

.bottom{
  position: relative;
  /* text-align: center; */
  bottom: 0px;
  width: 100%;
}

#terms, #terms:hover{
  color: #FF6767;
  cursor: pointer;
}

.social-media{
  margin-top: 20px;
  margin-bottom: 10px;
}

ion-footer {
  &.footer-md::before {
    background-image: none;
  }
}

ion-footer {
  display: block;
  position: absolute;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  z-index: 10;
  bottom: 0px;
}

.logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
}

.reg:hover{
  cursor: pointer;
}