
app-root {
  font-family: "Gill Sans", serif;
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-recipe"] {
    mask-image: url(../assets/images/recipe-image.png);
  }
}

* {
  font-family: "Gill Sans", serif;
  --ion-font-family: "Gill Sans", serif;
}

mat-tab.mat-ink-bar {
  background-color: green;;
}

.mat-tab-group.mat-primary .mat-ink-bar{
  background-color: #FF6767;
}
