ion-content {
  --background: url('../../../assets/images/Background.png') 60%;
  background-size: cover;
}

ion-input{
  border-radius: 23px;
  border: 1px solid grey;
}

ion-input::placeholder {
  color: red;
}

ion-footer {
  &.footer-md::before {
    background-image: none;
  }
}

ion-footer {
  display: block;
  position: absolute;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  z-index: 10;
  bottom: 0px;
}

.button{
  float: right;
  border-radius: 30px;
  width: 62%;
  height: 48px;
  background-color: #FF6767;
  border-color: #FF6767;
  color: white;
  font-weight: bold;
}

a, a:hover{
  color: #FF6767;
}

.logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  //right: 0;
  bottom: 0;
  width: 70%;
}
