
<ion-content padding>
  <ion-row>
    <ion-col col-6 >
      <ion-row >
        <img class="logo img-fluid" src="../../../assets/images/logo.png">
      </ion-row>

    </ion-col>
    <ion-col>
      <ion-row>
        <ion-title text-center style="font-size: xx-large; color: #FF6767;margin-bottom: 35px;">
          Admin Registration
        </ion-title>
      </ion-row>

      <ion-row>
        <div *ngIf="registerInfo" class="alert {{alert}}" style="width: 100%;">
          <a (click)="close()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{message}}
        </div>
        <form [formGroup]="registerForm" style="width: 100%">
          <ion-row>
            <ion-col>
              <div class="input-container" style="height: 48px">
                <ion-input class="form-control" formControlName="firstName" type="text" placeholder="First Name" name="firstName" ngDefaultControl>
                </ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="input-container" style="height: 48px">
                <ion-input class=" form-control" type="text" formControlName="lastName" placeholder="Last Name" name="lastName" ngDefaultControl>
                </ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="input-container" style="height: 48px">
                <ion-input class=" form-control" type="email" formControlName="email" placeholder="Email Address" name="email" ngDefaultControl>
                </ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="input-container" style="height: 48px">
                <ion-input class=" form-control" type="password" formControlName="pwd" placeholder="Password" name="pwd" ngDefaultControl>
                </ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="input-container" style="height: 48px">
                <ion-input class=" form-control" type="password" formControlName="cpwd" placeholder="Confirm Password" name="cpwd" ngDefaultControl>
                </ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: center">
              <div class="align-content-center">
                <button (click)="cancel()" type="button" class="btn btn-primary button" style="float: left; background-color: black; border-color: black">Cancel</button>
              </div>
            </ion-col>
            <ion-col style="text-align: center">
              <div class="align-content-center">
                <button id="registerButton" (click)="register()" type="button" class="btn btn-primary button" [disabled]="!registerForm.valid">Register</button>
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-row>

    </ion-col>
  </ion-row>


  <ion-footer text-center padding>
    <ion-row>
      <ion-col col-6></ion-col>
      <ion-col col-6><a href=" ">Terms and Conditions of Use</a></ion-col>
    </ion-row>
  </ion-footer>

</ion-content>
