table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  //background: #eee;
}

th {
  //background: #333;
  //color: white;
  //font-weight: bold;
}

td, th {
  padding: 6px;
  //border: 1px solid #ccc;
  text-align: left;
}

.total-button {
  float: right;
  width: 60%;
  height: 42px;
  background-color: #FF6767;
  background: linear-gradient(to bottom, #FF6767 30%, #EFAD6D 100%);
}

.addbutton {
  font-size: 30px;
  position: absolute;
  right: 120px;
  top: 20px
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  text-align: center;
}

.sc-ion-segment-md-h {
  --color-checked: #FF6767;
  --color-checked-disabled: #FF6767;
}

//.segment-button-indicator {
//  position: absolute;
//  top: 0;
//  width: 300px;
//}

.mat-checkbox-inner-container-no-side-margin {
  margin-top: 10px;
}

.segment-button-checked {
  color: #FF6767;
  border-top: 3px solid #FF6767;
}

//.segment-activated{
//  color:#ffffff;
//}
//
//::ng-deep

//::ng-deep .segment-button-indicator  {
//  //background-color: #ffffff;
//  background-color: var(--indicator-color);
//}

.segment-button-indicator-class {
  --indicator-color-checked: transparent !important;
  height:79px;
}

//div .segment-button-indicator {
//  align-self: flex-end !important;
//    width: 100% !important;
//    height: 7px !important;
//    background-color: var(--indicator-color) !important;
//    opacity: 1 !important;
//    bottom: 69px !important;
//    position: relative !important;
//}

div .input-wrapper{
  display:initial !important;
}


.view, button:focus  {
    outline: 1px;
}