<app-navbar [user]="user"></app-navbar>

<ion-content padding style="font-family: Gill Sans">

    <div class="row" style="color:#FF6767;padding-left:100px">
        <div class="col-md-2">
            <div class="row">
                <button type="button" class="btn total-button" style="font-weight: bold;color: white;">{{user_list.length}}
                </button>
            </div>
            <div class="row" style="padding-left:20px">
                <label>User Total</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <button type="button" class="btn total-button" style="font-weight: bold;color: white;">{{adminlength}}
                </button>
            </div>
            <div class="row" style="padding-left:15px">
                <br>
                <label>Admin Total</label>
            </div>
        </div>
        <div class="col-md-8" *ngIf="segmentValue === 'recipeManagement'">
            <div class="row">
                <label style="position:absolute;right:100px">Add New</label>
            </div>
            <div class="row">
                <br>
                <ion-icon name="add-circle" class="addbutton"  (click)="navigate('/addrecipes')" ></ion-icon>
            </div>
<!--            <div class="row" *ngIf="segmentValue === 'userManagement'">-->
<!--                <br>-->
<!--                <ion-icon name="add-circle" class="addbutton"  (click)="navigate('/viewalluser')" ></ion-icon>-->
<!--            </div>-->
        </div>
    </div>


    <div [ngSwitch]="segmentValue" style="margin-top:50px">
        <div *ngSwitchCase="'recipeManagement'">
            <ion-item>
                <table mat-table [dataSource]="dataRecipeSource" maxlength="5">

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> NAME</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                    </ng-container>

                    <!-- Category Column -->
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef> CATEGORY</th>
                        <td mat-cell *matCellDef="let element"> {{element.category}}</td>
                    </ng-container>

                    <!-- Number Of Views Column -->
                    <ng-container matColumnDef="numOfViews">
                        <th mat-header-cell *matHeaderCellDef> NUMBER OF VIEWS</th>
                        <td mat-cell *matCellDef="let element"> {{element.noOfViews}}</td>
                    </ng-container>

                    <!-- Options Column -->
                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef> OPTIONS</th>
                        <td mat-cell *matCellDef="let element">
                            <button class="btn" (click)="viewRecipe(element)">
                                <ion-icon name="eye" style="font-size:20px"></ion-icon>
                            </button>
                            <button class="btn" (click)="editRecipe(element)">
                                <ion-icon name="create" style="font-size:20px;padding-left:20px"></ion-icon>
                            </button>
                            <button class="btn" (click)="deleteRecipe(element)">
                                <ion-icon name="trash" style="font-size:20px;padding-left:20px"></ion-icon>
                            </button>
                        </td>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedRecipeColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedRecipeColumns;"></tr>
                </table>

            </ion-item>
        </div>
        <div *ngSwitchCase="'userManagement'">
            <ion-item>
                <table mat-table [dataSource]="dataUserSource">

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> EMAIL</th>
                        <td mat-cell *matCellDef="let element"> {{element.email}}</td>
                    </ng-container>

                    <!-- FirstName Column -->
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef> FIRST NAME</th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
                    </ng-container>

                    <!-- LastName Column -->
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef> LAST NAME</th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
                    </ng-container>

                    <!-- Admin Column -->
                    <ng-container matColumnDef="admin">
                        <th mat-header-cell *matHeaderCellDef> ADMIN</th>
                        <td mat-cell *matCellDef="let element">
                            <!-- <mat-checkbox [(ngModel)]="role_list" *ngFor="let role of role_list;"  disabled="true"></mat-checkbox> -->
                            <mat-checkbox  [checked] = "element.role == 'admin'" disabled="true"></mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Options Column -->
<!--                    <ng-container matColumnDef="options">-->
<!--                        <th mat-header-cell *matHeaderCellDef> OPTIONS</th>-->
<!--                        <td mat-cell *matCellDef="let element">-->
<!--                            &lt;!&ndash;                            <ion-icon name="eye" style="font-size:20px"></ion-icon>&ndash;&gt;-->
<!--                            <button class="btn">-->
<!--                                <ion-icon name="create" style="font-size:20px;padding-left:20px"></ion-icon>-->
<!--                            </button>-->
<!--                            <button class="btn" (click)="deleteUser(user.uid)">-->
<!--                                <ion-icon name="trash" style="font-size:20px;padding-left:20px"></ion-icon>-->
<!--                            </button>-->
<!--                        </td>-->

<!--                    </ng-container>-->

                    <!--&lt;!&ndash; Star Column &ndash;&gt;-->
                    <!--<ng-container matColumnDef="star" stickyEnd>-->
                    <!--<th mat-header-cell *matHeaderCellDef></th>-->
                    <!--<td mat-cell *matCellDef="let element">-->
                    <!--<mat-icon>more_vert</mat-icon>-->
                    <!--</td>-->
                    <!--</ng-container>-->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </ion-item>
        </div>
    </div>
</ion-content>


<div style="font-family: Gill Sans">

    <button (click)="navigate('/allrecipes')" type="button" class="view" *ngIf="segmentValue === 'recipeManagement'"
            style="float:right;margin-right: 56px;margin-bottom: 43px;color:#FF6767;border-bottom: 1px solid #FF6767;">
        View All
    </button>

    <button (click)="navigate('/viewalluser')" type="button" class="view" *ngIf="segmentValue === 'userManagement'"
            style="float:right;margin-right: 56px;margin-bottom: 43px;color:#FF6767;border-bottom: 1px solid #FF6767;">
        View All
    </button>
</div>

<ion-footer style="font-family: Gill Sans">
    <ion-toolbar>
        <ion-segment (ionChange)="segmentChanged($event)" value="{{segmentValue}}" layout="icon-bottom">
            <ion-segment-button value="recipeManagement" class="segment-button-indicator-class">
                <!--<ion-segment-button value="recipeManagement" style=" &#45;&#45;indicator-color-checked: pink;">-->
                <!--<div class="segment-button-indicator" style=" position: absolute;-->
                <!--top: 0px;-->
                <!--width: 300px;-->
                <!--left: 77px;"></div>-->
                <!--<img class="recipe-logo" src="../../../assets/images/recipe-image.png"-->
                <!--style="width:25px;height:25px;margin-top:13px" ngSelected="selected"/>-->
                <!--<img class="recipe-logo" src="../../../assets/images/recipe.png"-->
                <!--style="width:25px;height:25px;margin-top:13px"/>-->
                <!--<ion-icon name="pizza" style="font-size:33px;"></ion-icon>-->
                <ion-icon src="assets/svg/recipe.svg"></ion-icon>
                <ion-label>Recipe Management</ion-label>
            </ion-segment-button>
            <ion-segment-button value="userManagement" class="segment-button-indicator-class">
                <ion-icon src="assets/svg/user.svg"></ion-icon>
                <ion-label>User Management</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>



